
<div class="container">

<p>Prenom : <input class="input-log_in"></P>
<p>Email : <input class="input-log_in"></P>
<p>Mot de passe : <input class="input-log_in"></P>

<button class="button-log_in">connection</button>
<button class="button-log_in"><a href="/home">home</button></a>
</div>