<div class="container"> 

<p>Prenom : <input class="input-sign_in" placeholder="Firstname"></p>
<p>Nom : <input class="input-sign_in" placeholder="Name"></p>
<p>Email : <input class="input-sign_in" placeholder="Email"></P>
<p>Mot de passe : <input class="input-sign_in" placeholder="Password">
<p>Confirmation : <input class="input-sign_in" placeholder="Confirm psw"></P>

<button class="button-sign_in"><a href="/log_in">s'inscrire</button></a>
<button class="button-log_in"><a href="/home">home</button></a>

</div>

